@keyframes change{
    0%{
        background:red;
    }
    100%{
        background:blue;
    }
}
#app4 .circle{
    border:1px solid red;
    border-radius:50%;
    width:20vw;
    height:20vw;
}
#app4 .circle.active{
    animation: change 1s infinite alternate linear;
}